.vs/*
Lab_4.sln
App_1/Properties/*
App_1/obj/Debug/*
App_1/App.config
App_1/bin/Debug/*
App_2/Properties/*
App_2/obj/Debug/*
App_2/App.config
App_2/bin/Debug/*
App_3/Properties/*
App_3/obj/Debug/*
App_3/App.config
App_3/bin/Debug/*
